<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-menu-button color="primary">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-avatar class="centrer">
        <img [src]="logo" >
      </ion-avatar>
      <ion-avatar slot="end">
        <img [src]="avatar" (click)="onItemClick('/profil')" routerDirection="root">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <ion-card><ion-card-content>
          <ion-label>Mon solde disponible</ion-label>
           <ion-item>
             <ion-label *ngIf="cacher">{{montant}} cfa</ion-label>
             <ion-icon (click)="afficher()" *ngIf="cacher" tappable name="eye-off-outline" slot="end"></ion-icon>
             <ion-icon (click)="afficher()" *ngIf="!cacher" tappable name="eye" slot="end"></ion-icon>
           </ion-item>
           <ion-label>mise à jour le {{ today | date: "dd/MM/yyyy à H:mm:ss" }} </ion-label>
         </ion-card-content>
       </ion-card>
      </ion-col>
      <ion-col size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <ion-list>

          <ion-item tappable  (click)="onItemClick('/depot')" routerDirection="root">
            <ion-icon name="return-up-forward-outline" color="danger"></ion-icon>
            Depot
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>

          <ion-item tappable  (click)="onItemClick('/retrait')" routerDirection="root">
            <ion-icon name="return-up-back-outline" color="danger"></ion-icon>
            Retrait
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item tappable (click)="onItemClick('/transaction')" routerDirection="root">
            <ion-icon name="sync-outline" color="danger"></ion-icon>
            Mes Transactions
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <section *ngIf="adminSystem">
            <ion-item tappable (click)="onItemClick('/transaction')" routerDirection="root">
              <ion-icon name="timer-outline" color="danger"></ion-icon>
              Tous les transactions
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item tappable (click)="onItemClick('/commission')" routerDirection="root">
              <ion-icon name="apps-outline"  color="danger"></ion-icon>&nbsp;
              Mes commissions
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
          </section>
          <ion-item tappable (click)="onItemClick('/calculator')" routerDirection="root">
            <ion-icon name="calculator"  color="danger"></ion-icon>&nbsp;
            Calculateur de frais
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item tappable  (click)="onItemClick('/annuler-depot')" routerDirection="root">
            <ion-icon class="deleted" color="danger" name="trash-outline"></ion-icon>&nbsp;
            Annuler depot
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item tappable (click)="logout()">
            <ion-icon name="log-out" color="danger" ></ion-icon>&nbsp;Déconnexion
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-card><ion-card-content>
     <ion-label>Mon sole disponible</ion-label>
      <ion-item>
        <ion-label>150 000 cfa</ion-label>
        <ion-icon name="eye-off-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-label>mise à jour le 22/10/2021 à 11:55 </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-list>
      <ion-item tappable *ngFor="let p of pages" (click)="onItemClick(p.url)" routerDirection="root">
        <ion-icon name="p.iconName"  color="danger"></ion-icon>&nbsp;
        {{p.title}}
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item tappable (click)="logout()">
        <ion-icon name="log-out" color="danger" ></ion-icon>&nbsp;Déconnexion
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-item>
  </ion-list> -->
</ion-content>


