.btn{
  padding: 50px 20px;
}
.suivant{
  height: 50px;
}
section{
  padding-left: 30px;
  padding-bottom: 30px ;
}
.my-custom-class {
  --background: #e5e5e5;
}

.centre{
  display: flex;
  justify-content: center;
}
