
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-buttons slot="start">
          <ion-menu-button color="primary">
            <ion-icon name="home-sharp"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
        <ion-title>
          <ion-icon name="calculator-outline" color="primary"></ion-icon>
          calculateur
        </ion-title>
        <ion-avatar slot="end">
          <img src="../../../assets/img/logoSa.png">
        </ion-avatar>
      </ion-item>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col   size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <ion-text color="dark">
          <h5>Calculatrice</h5>
        </ion-text>
      </ion-col>
      <ion-col   size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <form (ngSubmit)="calculer()" [formGroup]="credentials">
          <section>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select value="depot">
                <ion-select-option  value="depot">Dépot</ion-select-option>
              </ion-select>
            </ion-item>
          </section>
          <section>
            <ion-label position="floating">Montant</ion-label>
            <ion-input type="number" class="form-control" formControlName="montant"></ion-input>
            <div *ngIf="(montant.dirty || montant.touched) && montant.errors" class="errors">
              <span *ngIf="montant.errors?.required">Montant is required</span>
              <span *ngIf="montant.errors?.min">Montant is invalid</span>
            </div>
          </section>
          <section class="btn">
            <ion-button shape="round" class="suivant" type="submit" color="danger" expand="block" [disabled]="!credentials.valid">Calculer</ion-button>
          </section>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
   -->
</ion-content>
