<ion-header class="doNotPrint">
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-menu-button color="primary">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-icon name="return-up-forward-outline" color="primary"></ion-icon>
        depot
      </ion-title>
      <ion-avatar slot="end">
        <img src="../../../assets/img/logoSa.png">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="doNotPrint">
  <ion-grid fixed>
    <ion-row>
      <ion-col  size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <ion-segment value="emetteur">
          <ion-segment-button (click)="previous()" value="emetteur">
            <ion-label>Emetteur</ion-label>
          </ion-segment-button>
          <ion-segment-button (click)="next()" value="recepteur">
            <ion-label>Récepteur</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col  size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <form [formGroup]="credentials">
          <section *ngIf="etape">
            <ion-list>

              <section formGroupName="clientenvoi">
                <ion-item>
                  <ion-label position="floating">N° CNI</ion-label>
                  <ion-input type="text" class="form-control" formControlName="cni" ></ion-input>
                </ion-item>
                <div *ngIf="(cni.dirty || cni.touched) && cni.errors" class="errors">
                  <span *ngIf="cni.errors?.required">CNI is required</span>
                  <span *ngIf="cni.errors?.length">CNI is invalid</span>
                </div>

                <ion-item>
                  <ion-label position="floating">Nom</ion-label>
                  <ion-input type="text" class="form-control"  formControlName="nom" ></ion-input>
                </ion-item>
                <div *ngIf="(nom.dirty || nom.touched) && nom.errors" class="errors">
                  <span *ngIf="nom.errors?.required">Nom is required</span>
                  <span *ngIf="nom.errors?.length">Nom is invalid</span>
                </div>

                <ion-item>
                  <ion-label position="floating">Prenom</ion-label>
                  <ion-input type="text" class="form-control" formControlName="prenom"  ></ion-input>
                </ion-item>
                <div *ngIf="(prenom.dirty || prenom.touched) && prenom.errors" class="errors">
                  <span *ngIf="prenom.errors?.required">Prenom is required</span>
                  <span *ngIf="prenom.errors?.length">Prenom is invalid</span>
                </div>

                <ion-item>
                  <ion-label position="floating">Téléphone</ion-label>
                  <ion-input type="text" class="form-control" formControlName="telephone" ></ion-input>
                </ion-item>
                <div *ngIf="(telephone.dirty || telephone.touched) && telephone.errors" class="errors">
                  <span *ngIf="telephone.errors?.required">Telephone is required</span>
                  <span *ngIf="telephone.errors?.length">Telephone is invalid</span>
                </div>
              </section>
              <ion-item>
                <ion-label position="floating">Montant</ion-label>
                <ion-input type="number" [value]="montantSend"  class="argent" formControlName="montant" (keyup)="calculFrais($event)" ></ion-input>
              </ion-item>
              <div *ngIf="(montant.dirty || montant.touched) && montant.errors" class="errors">
                <span *ngIf="montant.errors?.required">Montant is required</span>
                <span *ngIf="montant.errors?.length">Montant is invalid</span>
              </div>
              <ion-item class="frais">
                <ion-label position="floating">Frais</ion-label>
                <ion-input type="text" disabled  [value]="frais" class="argent" ></ion-input>
              </ion-item>

            </ion-list>
            <ion-item class="total">
              <ion-label position="floating">Total</ion-label>
              <ion-input type="number" (keyup)="calculTotal($event)" formControlName="total"  [value]="montantTotal" class="argent" ></ion-input>
            </ion-item>
          </section>
          <section *ngIf="!etape">
            <ion-list formGroupName="clientRetrait">
              <ion-item>
                <ion-label position="floating">Prénom</ion-label>
                <ion-input type="text" class="form-control" formControlName="prenom"  ></ion-input>
              </ion-item>
              <div *ngIf="(prenom1.dirty || prenom1.touched) && prenom1.errors" class="errors">
                <span *ngIf="prenom1.errors?.required">Prenom is required</span>
                <span *ngIf="prenom1.errors?.length">Prenom is invalid</span>
              </div>
              <ion-item>
                <ion-label position="floating">Nom</ion-label>
                <ion-input type="text" class="form-control" formControlName="nom" ></ion-input>
              </ion-item>
              <div *ngIf="(nom1.dirty || nom1.touched) && nom1.errors" class="errors">
                <span *ngIf="nom1.errors?.required">Nom is required</span>
                <span *ngIf="nom1.errors?.length">Nom is invalid</span>
              </div>
              <ion-item>
                <ion-label position="floating">Téléphone</ion-label>
                <ion-input type="text" class="form-control" formControlName="telephone"></ion-input>
              </ion-item>
              <div *ngIf="(telephone1.dirty || telephone1.touched) && telephone1.errors" class="errors">
                <span *ngIf="telephone1.errors?.required">Telephone is required</span>
                <span *ngIf="telephone1.errors?.length">Telephone is invalid</span>
              </div>
            </ion-list>
            <section class="btn">
              <ion-button shape="round" class="suivant"  color="danger" expand="block" [disabled]="!credentials.valid" (click)="Create()" type="submit">Suivant</ion-button>
            </section>
          </section>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
