.progress {
  width:80px;
}
ul{
  text-align: center;
}
ul li{
  display: inline-block;
}
.frais{
  width: 200px;
  float: right;
}
.btn{
  padding: 50px 20px;
}
.suivant{
  height: 50px;
}
.my-custom-class {
  --background: #e5e5e5;
}

.centre{
  display: flex;
  justify-content: center;
}
.argent{
  font-weight: bold;
  font-size: 25px;
}

