<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-menu-button color="primary">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-label class="centre">
        Utilisateur
      </ion-label>
      <ion-avatar slot="end">
        <img src="../../../assets/img/logoSa.png">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col  size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <ion-segment value="ajouter">
          <ion-segment-button (click)="previous()" value="ajouter">
            <ion-label>Ajouter </ion-label>
          </ion-segment-button>
          <ion-segment-button (click)="next()" value="liste">
            <ion-label>Lister </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col   size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <form [formGroup]="credentials" (ngSubmit)="Ajouter()">
          <section *ngIf="visible">
            <ion-list >
                <ion-item>
                  <img  [src]="image" alt="">
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Prenom</ion-label>
                  <ion-input type="text" class="form-control"  formControlName="prenom" ></ion-input>
                </ion-item>
                <div *ngIf="(prenom.dirty || prenom.touched) && prenom.errors" class="errors">
                  <span *ngIf="prenom.errors?.required">prenom is required</span>
                  <span *ngIf="prenom.errors?.length">prenom is invalid</span>
                </div>
                <ion-item>
                  <ion-label position="floating">Nom</ion-label>
                  <ion-input type="text" class="form-control"  formControlName="nom" ></ion-input>
                </ion-item>
                <div *ngIf="(nom.dirty || nom.touched) && nom.errors" class="errors">
                  <span *ngIf="nom.errors?.required">nom is required</span>
                  <span *ngIf="nom.errors?.length">nom is invalid</span>
                </div>
                <ion-item>
                  <ion-label position="floating">Téléphone</ion-label>
                  <ion-input type="text" class="form-control" formControlName="telephone"></ion-input>
                </ion-item>
                <div *ngIf="(telephone.dirty || telephone.touched) && telephone.errors" class="errors">
                  <span *ngIf="telephone.errors?.required">telephone is required</span>
                  <span *ngIf="telephone.errors?.length">telephone is invalid</span>
                </div>
                <ion-item>
                  <ion-label position="floating">Adresse</ion-label>
                  <ion-input type="text" class="form-control" formControlName="adresse"></ion-input>
                </ion-item>
                <div *ngIf="(telephone.dirty || telephone.touched) && telephone.errors" class="errors">
                  <span *ngIf="telephone.errors?.required">telephone is required</span>
                  <span *ngIf="telephone.errors?.length">telephone is invalid</span>
                </div>
                <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input type="email" class="form-control" formControlName="email" ></ion-input>
                </ion-item>
                <div *ngIf="(telephone.dirty || telephone.touched) && telephone.errors" class="errors">
                  <span *ngIf="telephone.errors?.required">telephone is required</span>
                  <span *ngIf="telephone.errors?.length">telephone is invalid</span>
                </div>
                <ion-item>
                  <ion-button expand="block" (click)="selectImage()">Choisir une image</ion-button>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Genre</ion-label>
                  <ion-select formControlName="genre" placeholder="Select One"  interface="popover">
                    <ion-select-option value="homme">Homme</ion-select-option>
                    <ion-select-option value="femme">Femme</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="(genre.dirty || genre.touched) && genre.errors" class="errors">
                  <span *ngIf="genre.errors?.required">genre is required</span>
                </div>
                <ion-item>
                  <ion-label position="stacked">Type</ion-label>
                  <ion-select formControlName="type" placeholder="Select One"  interface="popover">
                    <ion-select-option value="AdminSysteme">Admin Systéme</ion-select-option>
                    <ion-select-option value="AdminAgence">Admin Agence</ion-select-option>
                    <ion-select-option value="Caissier">Caissier</ion-select-option>
                    <ion-select-option value="UserAgence">User Agence</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="(type.dirty || type.touched) && type.errors" class="errors">
                  <span *ngIf="type.errors?.required">type is required</span>
                </div>
                <ion-item>
                  <ion-label position="stacked">Affecter à une agence</ion-label>
                  <ion-select formControlName="agences" placeholder="Select One"  interface="popover">
                    <span *ngFor="let agence of agences | keyvalue " >
                      <ion-select-option [value]="agence.value?.id" >{{agence?.value.nom}}</ion-select-option>
                    </span>
                  </ion-select>
                </ion-item>
            </ion-list>
            <ion-button shape="round" class="suivant"  color="danger" expand="block" type="submit">Ajouter</ion-button>
          </section>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  *ngIf="!visible">
    <ion-row>
      <ion-col  size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <!--         <ion-card>-->
        <!--          <ion-card-header>-->
        <!--            <ion-card-subtitle>-->
        <!--              <ion-icon class="deleted"  tappable (click)="delete(u.id)" color="danger" name="trash-outline"></ion-icon>-->
        <!--            </ion-card-subtitle>-->
        <!--            <ion-card-title>{{u?.nom}}</ion-card-title>-->
        <!--          </ion-card-header>-->
        <!--          <ion-card-content>-->
        <!--            <section *ngIf="u?.visible">-->
        <!--              <strong>Agence : </strong> {{u?.agence}} <br>-->
        <!--            </section>-->
        <!--            <strong>Type : </strong> {{u?.type}} <br>-->
        <!--            <strong>Téléphone : </strong> {{u?.telephone}} <br>-->
        <!--          </ion-card-content>-->
        <!--        </ion-card>-->
        <ion-virtual-scroll [items]="users" approxItemHeight="320px">
          <ion-card *virtualItem="let u; let itemBounds = bounds;">
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon class="deleted"  tappable (click)="delete(u.id)" color="danger" name="trash-outline"></ion-icon>
              </ion-card-subtitle>
              <ion-card-title>{{u?.nom}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <section *ngIf="u?.visible">
                <strong>Agence : </strong> {{u?.agence}} <br>
              </section>
              <strong>Type : </strong> {{u?.type}} <br>
              <strong>Téléphone : </strong> {{u?.telephone}} <br>
            </ion-card-content>
          </ion-card>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
