section{
  padding-left: 30px;
}
ion-input{
  font-size: large;
  font-weight: bold;
}
.type{
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.btn{
  padding: 50px 20px;
}
.suivant{
  height: 50px;
}
.centre{
  display: flex;
  justify-content: center;
}
