<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-menu-button color="primary">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-label class="centre">
        Versement
      </ion-label>
      <ion-avatar slot="end">
        <img src="../../../assets/img/logoSa.png">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="depots">
    <ion-segment-button (click)="previous()" value="depots">
      <ion-label>Depot</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="next()" value="mesdepots">
      <ion-label>Mes depots</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="visible">
    <ion-row>
        <ion-col size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
          <form  [formGroup]="credentials" (ngSubmit)="Verser()">
            <ion-list>
              <ion-item *ngIf="visible">
              <ion-label position="stacked">COMPTE</ion-label>
              <ion-select placeholder="Select One" formControlName="comptes"  interface="popover">
                <ion-select-option [value]="c?.id" *ngFor="let c of comptes">{{c?.numCompte}}</ion-select-option>
               </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Montant</ion-label>
              <ion-input type="number" formControlName="montant" placeholder="placeholder"></ion-input>
            </ion-item>

            </ion-list>
            <section>
              <ion-button expand="block" type="submit">Deposer</ion-button>
            </section>
          </form>
        </ion-col>


    </ion-row>
  </ion-grid>
  <ion-grid  *ngIf="!visible">
    <ion-row>
      <ion-col  size="12" size-xs="12" size-sm="10" size-md="6" size-lg="6" offset-lg="3" offset-sm="1" offset-md="3">
        <!--         <ion-card>-->
        <!--          <ion-card-header>-->
        <!--            <ion-card-subtitle>-->
        <!--              <ion-icon class="deleted"  tappable (click)="delete(a.value.id)" color="danger" name="trash-outline"></ion-icon>-->
        <!--            </ion-card-subtitle>-->
        <!--            <ion-card-title> Depot N° {{u?.numero}}</ion-card-title>-->
        <!--          </ion-card-header>-->
        <!--          <ion-card-content>-->
        <!--            <section *ngIf="u?.visible">-->
        <!--              <strong>Auteur : </strong> {{u?.nom}} <br>-->
        <!--            </section>-->
        <!--            <strong>N° Compte : </strong> {{u?.compte}} <br>-->
        <!--            <strong>Montant : </strong> {{u?.montant}} <br>-->
        <!--            <strong>Date  : </strong> {{u?.date}} <br>-->
        <!--          </ion-card-content>-->
        <!--        </ion-card>-->
        <ion-virtual-scroll [items]="depots" approxItemHeight="320px">
          <ion-card *virtualItem="let u; let itemBounds = bounds;">
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon class="deleted" *ngIf="lastid == u?.numero "  tappable (click)="delete(u.numero)" color="danger" name="trash-outline"></ion-icon>
              </ion-card-subtitle>
              <ion-card-title> Depot N° {{u?.numero}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <section *ngIf="u?.visible">
                <strong>Auteur : </strong> {{u?.nom}} <br>
              </section>
              <strong>N° Compte : </strong> {{u?.compte}} <br>
              <strong>Montant : </strong> {{u?.montant}} <br>
              <strong>Date  : </strong> {{u?.date}} <br>
            </ion-card-content>
          </ion-card>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
