ion-content{
  --background-color: #f3efef;
}
.input-group{
  margin-top: 15px ;
}
.errors{
  font-size: small;
  color: #fff;
  background: red;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.text{
  color: #f2f2f2;
  font-weight: bold;
}
.login-logo{
  width: 80%;
  margin-left: 30px;
  margin-top: 80px;
}
